@using SelfWork_1
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <style>
        * {
            font-family:Calibri;
        }
        body { 
            background-image:url("../../Content/images/Background/phone.jpg");
            background-repeat:no-repeat;
            background-size:cover;
        }
     </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body style="display:none">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: black;margin-top:-50px">
        <a class="navbar-brand" href="~/Home/Index" style="font-size:15px; margin-bottom:12px;margin-left:4.5%;color:white;">
            <img src="~/Content/images/Background/ball.png" style="width:50px;height:50px;" />
        </a>
        <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item navli col">
                    <a class="nav-link active " href="~/Home/Index" style="font-size:15px; color:white;">@Resources.HomeController.AboutUs<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown col">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
                        @Resources.HomeController.Contacts
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown" style="margin:0;background-color: black;">
                        <a class="dropdown-item " href="#" style="color: white;">
                            <img src="~/Content/images/Background/vk.png" style="width:25px;height:25px;" /> @Resources.HomeController.Vk
                        </a>
                        <a class="dropdown-item " style="color: white;" href="#"><img src="~/Content/images/Background/instagram.png" style="width:25px;height:25px;" />  @Resources.HomeController.Instagram</a>
                        <a class="dropdown-item " style="color: white;" href="#"><img src="~/Content/images/Background/facebook.png" style="width:25px;height:25px;" />  @Resources.HomeController.Facebook</a>
                    </div>
                </li>
                <li class="nav-item col">
                    <a class="nav-link active" href="~/Home/Index" style="font-size:15px; margin-bottom:12px;color:white; width:90px">@Resources.HomeController.Services</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link active " href="~/Home/Comment" style="font-size:15px;color:white;">@Resources.HomeController.Comments</a>
                </li>
            </ul>
        </div>
    </nav>
    @using (Html.BeginForm("ChangeCulture", "Home"))
    {
        <select name="lang">
            <option value="ru">Русский</option>
            <option value="en">English</option>
        </select>
        <input type="submit" name="submit" value="@Resources.HomeController.Submit">
    };
    @RenderBody()
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            var body = $("body");
            body.fadeIn(400);
            $(document).on("click", "a:not([href^='#']):not([href^='tel']):not([href^='mailto'])", function (e) {
                e.preventDefault();
                $(body).fadeOut(400);
                var self = this;
                setTimeout(function () {
                    window.location.href = $(self).attr("href");
                }, 400);
            });
        });
    </script>
</body>
</html>
